.left_column {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #00ccff;
  color: var(--mainColor)
}
.left_column header {
  padding-top: 60px;
}
@media screen and (max-width: 1024px) {
  .left_column {
    width: 210px
  }
}
